.row1 {
    display: flex;
    justify-content: space-evenly;
}

.template {
    margin: 20px 230px;
    padding: 40px;
}

.template-img {
    width: 500px;
    height: 500px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin: 20px auto;
    margin-right: 40px;
}

.template-text {
    text-align: left;
    font-size: 1.3rem;
    margin-right: 20px;
    margin-top: 150px;
}